<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="../public/css/bootstrap.min.css" >
		<link rel="stylesheet" href="../public/css/main.css" >
	</head>
	<body>

		<nav class="navbar navbar-toggleable-md  navbar-inverse bg-inverse">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">HackSpace</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="./especialidades.html">Especialidades</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./formulario.html">Formulario</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="container py-5 d-flex align-items-start flex-wrap justify-content-center">
		
			<div class="card m-2 "> 
				<img class="card-img-top " src="../public/img/frontend.png" alt="Card image cap">
				<div class="card-block">
					<h4 class="card-title">Especialidad</h4>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Nombre y Apellido</li>
				</ul>
			</div>

		</div>

		<!-- jQuery first, then Tether, then Bootstrap JS. -->
		<script src="../public/js/jquery-3.1.1.slim.min.js" ></script>
		<script src="../public/js/tether.min.js" ></script>
		<script src="../public/js/bootstrap.min.js"></script>
	</body>
</html>